@font-face {
    font-family: Roboto;
    src: url(font/Roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto/Roboto-Black.ttf);
    font-style: bolder;
    font-weight: 150;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto/Roboto-LightItalic.ttf);
    font-style: italic;
    font-weight: 50;
}

* {
    font-family: Roboto, Arial, sans-serif;
}

body {
    margin: 0;
}

body > * {
    margin: 0 15%;
}

[class~="body"] {
    margin: 0 0;
    padding: 4px 15%;
}

.header, .hero, .footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    margin: 0;
    padding: 0;
    padding-left: 0;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.hero {
    padding-top: 60px;
    padding-bottom: 100px; 
}

.hero > * {
    flex: 1 1 0;
}

.hero .left {
    margin: 0;
    padding: 0;
    margin-right: 32px;
}

.hero .main {
    font-size: 48px;
    font-style: bolder;
    font-weight: 150;
    color: #F9FAF8;
    margin-bottom: 4px;
}

.hero .secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

.hero .sign-up-btn {
    padding: 8px 40px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.hero-image {
    height: 300px;
}

.info-header {
    margin-top: 58px;
    margin-bottom: 48px;
    padding: 2px;
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
    text-align: center
}

.list {
    margin: 0;
    margin-bottom: 88px;
    padding: 4px;
    list-style-type: none;
    display: flex;
    text-align: center;
    gap: 32px;
    justify-content: center;
}

.list .item-image {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.list > * {
    width: 200px;
    height: auto;
}

.section {
    background-color: #E5E7EB;
    padding-top: 88px;
    padding-bottom: 88px;
}

.quote-text {
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 50;
}

.quote-author {
    text-align: right;
}

.sign-up-panel {
    margin: 120px 10%;
    padding: 60px 5%;
    border-radius: 6px;
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
}

.sign-up-panel .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-panel .main {
    font-size: 24px;
}

.sign-up-panel .secondary {
    margin: 2px;
}

.sign-up-panel .sign-up-btn{
    margin: 8px 0;
    padding: 8px 46px;
    border-radius: 8px;
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    font-size: 14px;
    font-weight: bold;
}
    

.footer {
    padding: 40px 0;
    color: white;
    justify-content: center;
}